

.custom-project-card {
  width: 50%;
  height: 370px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  left: 49%;
}

.project-title-area {
  color: black;
  padding: 20px;
  border-radius: 10px;
  color: white;
  max-width: 90%;
  position: relative;
}

.project-title {
  font-size: 5rem;
  font-weight: bold;
  color: black;
  font-weight: 100;
  position: relative;
}

.project-title:hover {
  cursor: pointer;
}

.project-info {
  margin-top: 20px;
}

.project-description {
  font-size: 1.2rem;
  color: rgb(75, 72, 72);
  margin-top: 30px;
  left: 40px;
  opacity: 0;
  transition: opacity 1s ease;
  width: 600px;
}

.view-project-btn {
  display: inline-block;
  color: rgb(96, 93, 93);
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: 10px;
  height: 20px;
}
.view-project-btn:hover {
  color: rgb(76, 76, 246);
}


.custom-project-card-container:hover .project-description,
.custom-project-card-container:hover .view-project-btn {
  opacity: 1;
}

@media (max-width: 768px) {
  .custom-project-card {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }
  .project-title-area {
    width: 100%;
  }
  .project-title {
    font-size: 1.5rem;
  }
  .project-description {
    font-size: 0.9rem;
  }
}

.project-details {
  padding: 20px;
  width: 100%;
  position: relative;
  bottom: 400px;
  left: 80px;
}

