.custom-project-card {
  width: 100%;
  background-color: rgb(112, 33, 33);
  height: 400px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.project-title-area {
  color: black;
  padding: 20px;
  border-radius: 10px;
  color: white;
  max-width: 90%;


}

.project-title {
  font-size: rem;
  font-weight: bold;
 color : black;
  font-weight: 300;

}

.project-info {
  margin-top: 10px;
}

.project-description {
  font-size: 1rem;
  color: black;
  margin-bottom: 10px;
}

.view-project-btn {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
}

.view-project-btn:hover {
  background-color: #e0a800;
}

@media (max-width: 768px) {
  .custom-project-card {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }

  .project-title-area {
    width: 100%;
  }

  .project-title {
    font-size: 1.5rem;
  }

  .project-description {
    font-size: 0.9rem;
  }
}
